<%= form_for(@project, html: { :class => "form-horizontal" }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, class: "col-sm-2 control-label" %>
    <%= f.date_select :start_date %>
  </div>
  <div class="form-submit">
    <div class="col-sm-offset-2">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

