<div class="row">
  <div class="col-md-10 col-md-offset-2">

    <p id="notice"><%= notice %></p>

    <h2>
      <strong>Title:</strong>
      <%= @project.title %>
    </h2>

    <%= form_tag(assign_topics_project_path(@project)) do %>

      <div class="row">
        <div class="col-md-3">
          <h3>All Topics</h3>
          <%= select_tag "all_topics", 
                         options_from_collection_for_select(Topic.all, "id", "title"),
                         multiple: true %>
        </div>
        <div class="col-md-3">
          <div class="btn-group-vertical" id="topic-assign-buttons">
            <button class="btn btn-primary">Assign >> </button>
            <button class="btn btn-primary">Remove << </button>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Project Topics</h3>
          <%= select_tag "project_topics",
                         options_from_collection_for_select(@project.topics, "id", "title"),
                         prompt: "Assign one more topics",
                         multiple: true %>
        </div>
      </div>

    <% end -%>

  </div>
</div>