<div class="row">
  <h1><%= current_user.full_name %></h1>

  <%= render partial: "people/my_topics" %>
  <hr />
  <h2>My Topic Summary</h2>
  <p><%= current_user.pretty_print_topics %></p>
  <hr />
  <h2>Matching Projects</h2>
  <ul>
  <% current_user.matching_projects.each do |matched_project| -%>
    <li><%= matched_project[:project].title %> based on <%= matched_project[:topic].title %></li>
  <% end -%>

</div>